# # Public version:
# data/*
# symmray/
# local/
# __pycache__/
# vmc_torch.egg-info/
# vmc_torch/experiment/

# # Jupyter notebook files
# *.ipynb


# Private version:
data/*
symmray/
scripts/
# local/
__pycache__/
vmc_torch.egg-info/
*.sqlite
*.nsys-rep
# vmc_torch/experiment/circuitTNF/1D
# vmc_torch/experiment/circuitTNF/2D
vmc_torch/experiment/circuitTNF/data